@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: #e0e8ff;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100vh;
  background-size: 100%;

  @media (min-width: 90em) {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

.card {
  min-width: 32.7rem;
  max-width: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.15);
}

.card__image {
  background-image: url("../images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;

  @media (min-width: 90em) {
    height: 22rem;
  }
}

.card__content {
  padding: 3.2rem 2.4rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 90em) {
    padding: 4.5rem 4.8rem 4.8rem 4.8rem;
  }
}

.card__heading {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1.6rem;
  color: #1f2e55;

  @media (min-width: 90em) {
    font-size: 2.8rem;
    margin-bottom: 1.7rem;
  }
}

.card__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #717fa6;
  margin-bottom: 2.4rem;

  @media (min-width: 90em) {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }
}

.card__details {
  display: flex;
  background-color: #f7f9ff;
  border-radius: 11px;
  padding: 1.6rem;
  align-items: center;
  margin-bottom: 2.4rem;

  @media (min-width: 90em) {
    padding: 2.5rem 2.4rem;
    margin-bottom: 3.2rem;
  }
}

.card__icon {
  margin-right: 2rem;
}

.card__details-plan {
  font-size: 1.4rem;
  color: #1f2e55;
  margin-bottom: 0.3rem;
  font-weight: 900;

  @media (min-width: 90em) {
    font-size: 1.6rem;
  }
}

.card__details-price {
  font-size: 1.4rem;
  color: #717fa6;

  @media (min-width: 90em) {
    font-size: 1.6rem;
  }
}

.card__change {
  font-size: 1.3rem;
  font-weight: 700;
  color: #382ae1;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;

  &:hover,
  &:active {
    color: #766cf1;
    text-decoration: none;
  }

  @media (min-width: 90em) {
    font-size: 1.4rem;
  }
}

.card__proceed {
  background-color: #382ae1;
  border-radius: 11px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: none;
  font-weight: 900;
  margin-bottom: 2.4rem;
  box-shadow: 0 20px 20px 0 rgba(56, 42, 225, 0.19);

  &:hover,
  &:active {
    background-color: #766cf1;
  }
}

.card__cancel {
  color: #717fa6;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;

  &:hover,
  &:active {
    color: #1f2e55;
  }
}

/////////////////////////
// ATTRIBUTION
/////////////////////////

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
